@charset "utf-8";

/*헤더*/
#header{}

.hTop{
    background:#282828;   /*1*/
    font-size:12px;        /*6*/
    height:40px;           /*7*/
    line-height:40px;      /*8*/
}
.hTop a{
    color:#fff;     /*2*/
    display:block;  /*9.전체적으로 영역이 잡히게 블럭으로 박스를 만들어준후*/
    border-left:1px solid #231f20;  /*10.전체적으로 a태그에 선을 왼쪽으로 만들어주고*/
    padding:0 30px;       /*11.패딩을 안쪽으로 적용해서 여백을 만들어준다*/
}
.engBtn{
    float:left; /*2.hTop의 모든 텍스트를 왼쪽으로 정렬을 해서 올려야하니 플루트를 시켜준후 부모에게 cf를 줘야함*/
}
.engBtn a{
    border-right:1px solid #231f20; /*11.eng에는 오른쪽 선을 따로 만들어줌*/
}
.util{
    float:right;   /*4*/
}
.util li{
    float:left;     /*3.부모도 플루트를 줘서 cf안줘도 됨*/
}
.util li:last-child a{padding-right:0; }  /*12.오른쪽에 패딩을 없애서 옆으로 붙게 만들어줌*/
.util li a{
    display:block; 
}
.util li img{
    margin-left:5px;    /*13.텍스트와 글자사이에 여백을 왼쪽으로 줌*/
}

.hBottom{
    height:80px;    /*18.세로값적용*/
    line-height:80px; /*19.글씨를 세로정렬되게 적용*/
}
.hBottom h1{
    float:left;       /*14.로고옆에 텍스트가 오게 플루트를 주고,이미지에 세로값을 줘서 영역이 잡히기때문에 cf안줘도 상관없음*/
}
.hBottom h1 a{}
.hBottom h1 img{
    width:150px;     /*17.로고의 가로값주고*/   
}

.gnb{float:right; }   /*16.오른쪽으로 가게 플루트 줌*/
.gnb>li{     /*서브메뉴 호버시 gnb li가 아닌 gnb>li를 적용해야 lnb가 적용 안됨*/
    float:left;     /*15.각각 옆으로 오게 플루트를 주고. 부모에게 줬기때문에 cf안줘도 됨*/
    width:90px;
    text-align:center; 
    font-family:"NanumMyeongjo",serif;  /*20.폰트적용*/
    font-weight:900;   /*21.폰트 굵기 적용*/
    margin-left:50px;  /*22.폰트사이에 여백을 패딩으로 적용(호버적용시 패딩이 아닌 마진으로 변경해서 적용)*/
    position:relative; 
}

/*gnb(밑에 선이 생기게)호버적용*/
.gnb>li::after{
    content:"";
    display:block;    /*inline-block으로 하면 호버시 컨테이너 배경에 영향을 줌*/
    width:0;     /*호버했을때 100%로 적용했기때문에 가로를 0으로 적용*/
    height:3px;   /*세로선높이*/
    background:#333;
    margin:0 auto;    /*중간부터 transition 적용되게 margin(블럭일시)적용*/
    margin-top:-3px;   /*height3px를 적용했기때문에 컨테이너배경에도 영향이 가서 -3px적용*/
    transition:width 0.5s linear; /*transition:width 적용*/    
}
.gnb li:hover::after{
    width:100%;       /*가로값0->에서 100%로 적용*/
}
/*gnb 호버적용*/

/*sub호버 적용*/
.lnb{
    position:absolute;   /*앱솔루트로 띄우고 gnb li에다가 기준점 적용*/
    width:100%;          /*gnb가로값과 맞춰지게 가로값 100% 적용*/
    max-height:0;        /*세로를 0으로 해주고*/  
    overflow:hidden;      /*세로가 0이되면 lnb li가 보이기때문에 안보이게 적용*/
    text-align:center;    /*글씨 중간정렬*/
    z-index:1;            /*컨테이너배경이 앱솔루트라서 lnb가 보이게 적용*/
    background:#fff;    /*백그라운드 색상적용*/
    line-height:40px;    /*간격 적용*/
    transition:max-height 0.5s;   /*각각의 서브메뉴의 세로값이 다르기때문에 max-height적용*/
}
.gnb li:hover .lnb{
    max-height:500px;   /*각각의 서브메뉴의 세로값이 다르기때문에 호버 했을때 max-height적용*/
}
.lnb li{}
.lnb li a{}

.gnb li a{}

/*푸터*/             /*default.css에서 body,h1,h2,h3,h4,h5,h6,p,dl,dd{margin:0;} dl,dd추가해야 위에 여백이 사라짐*/
#footer{
    background-color:#1e1e1e;   /*1.전체 배경색 적용*/
    color:#8c8c8c;              /*3.글씨색변경*/
    position:relative;          /*7.topBtn 기준점 적용*/
    font-size:12px;             /*12.전체적으로 폰트 사이즈 적용*/ 
}          
#footer a{
     color:#8c8c8c;            /*4.footer안에 있는 a태그 글씨색변경*/
}
.topBtn{                       /*5.topBtn의 이미지를 불러오기위해 가로세로값적용 후 이미지 적용*/
    width:102px;
    height:39px;
    background:url(../images/common/btn_go_top.png) no-repeat;
    position:absolute;           /*6.topBtn을 위로 올리기위해 앱솔루트적용*/
    left:50%;                    /*11.topBt 중앙정렬하기 위해 left:50%,margin-left:-51px(width:102px의 반)적용*/   
    margin-left:-51px; 
    top:-39px;                   /*8.-39로 해서 위로 올려줌*/               
}
.topBtn a{                    /*9.버튼이미지와 a태그를 정렬하기 위해 적용*/
    display:block;
    height:100%;
    padding-top:12px;
    padding-left:30px;
    box-sizing:border-box;     /*10.패딩을 준 순간 a태그 영역을 벗어나기때문에 적용*/ 
}

.fTop{
    background-color:#282828;  /*2.fTop 배경색 적용*/
    padding:50px 0;            /*20.fTop위아래로 여백적용*/ 
}

.fMenu{ 
    float:left;                 /*18.dt가 옆으로 정렬되게 적용후 inner안에cf적용*/
    margin-right:80px;          /*19.옆으로 마진적용*/ 
}
.fMenu dt{                      /*13.제목에 폰트적용*/
    font-family:"NanumMyeongjo" ,serif;
    font-weight:900;
    font-size:16px;
    background:url(../images/common/bar_snb.gif) no-repeat left bottom;     /*14.제목밑에 밑줄이미지와 포지션적용*/
    padding-bottom:10px;             /*15.제목과 밑줄의 여백 적용*/
    margin-bottom:10px;              /*17.밑줄과 dd의 여백 적용*/  
}
.fMenu dd{
    line-height:25px;              /*16.dd의 여백 적용*/ 
}
.fMenu dd a{}

.fBottom{
    position:relative;   /*30.*/
    padding:50px 0       /*31.위아래 패딩적용*/
}
.fLogo{
    margin-bottom:30px;    /*25.li의 위아래 여백없애주기.fLogo에는 margin-bottom, copy에는 margin-top적용*/
}
.fLogo img{
     width:180px;                  /*21.fLogo로고에 가로값을 주면 영역만 줄어들기때문에 img에 가로값적용*/
}

.fInfo{
    overflow:hidden;       /*23.float:left를 해제하는 방법중 하나(html에서 cf적용 안해도 됨)*/
}
.fInfo li{
    float:left;    /*22.li를 각각 정렬하기위해 플루트를 주면 전체 li가 옆으로 붙기때문에 각각 cf주기보단 fInfo에서 overflow:hidden줘서 분리*/    
}
.fInfo li::after{   /*24.li각각의 있는 옆선 적용*/
    content:"";
    display:inline-block;
    width:1px;
    height:8px;
    background-color:#2d3333;
    margin:0 5px; 
}
.fInfo li:last-child::after{display:none;}  /*25.li의 마지막 선 없애주기*/
.fInfo li a{}

.copy{
    margin-top:30px;  /*26.li의 위아래 여백없애주기.fLogo에는 margin-bottom, copy에는 margin-top적용*/
}

.fSns{
    position:absolute;  /*28.앱솔루트로 띄운다*/
    right:0;         /*29.위치 적용 후 fBottom에 기준점 적용*/ 
    top:50px;         /*33.fBottom에 패딩을 줬기때문에 top을 줘서 밑으로 내려줌*/ 
}
.fSns li{
    float:left;        /*27.li옆으로 정렬, 부모를 앱솔루트로 띄울거기때문에 cf를 줄필요없음*/
    margin-left:5px;  /*32.왼쪽으로 여백 적용*/ 
}
.fSns li a{}
.fSns li img{
    width:25px;     /*26.이미지 가로값적용*/
}